In [6]:
import pandas as pd
import matplotlib as plt
data_medal = pd.read_csv("medals.csv")

In [7]:
Team = data_medal["Team/NOC"]
Go = data_medal["Gold"]
Si = data_medal["Silver"]
Br = data_medal["Bronze"]
Total = []
SuperGo = 0
SuperSi = 0
SuperBr = 0
SuperSum = 0

for mon in range(93):
    Sum = Go.loc[mon] + Si.loc[mon] + Br.loc[mon]
    Total.append(Sum)
    SuperGo += Go.loc[mon]
    SuperSi += Si.loc[mon]
    SuperBr += Br.loc[mon]
    SuperSum += Sum

data_medal["SUM"] = pd.DataFrame(Total,index=data_medal.index)

In [8]:
Dict = dict(data_medal)

ALR = Dict["Rank"]
ALR[93] = "-"

DI = Dict["Team/NOC"]
DI[93] = "AllTeam"

ALG = Dict["Gold"]
ALG[93] = SuperGo

ALS = Dict["Silver"]
ALS[93] = SuperSi

ALB = Dict["Bronze"]
ALB[93] = SuperBr

AL = Dict["SUM"]
AL[93] = SuperSum

C:\Users\bossv\AppData\Local\Temp/ipykernel_8424/7647749.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALR[93] = "-"
C:\Users\bossv\AppData\Local\Temp/ipykernel_8424/7647749.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DI[93] = "AllTeam"
C:\Users\bossv\AppData\Local\Temp/ipykernel_8424/7647749.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALG[93] = SuperGo
C:\Users\bossv\AppData\Local\Temp/ipykernel_8424/7647749.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALS[93] = SuperSi
C:\Users\bossv\AppData\Local\Temp/ipykernel_8424/7647749.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALB[93] = SuperBr
C:\Users\bossv\AppData\Local\Temp/ipykernel_8424/7647749.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AL[93] = SuperSum

In [18]:
data_medal = pd.DataFrame(Dict)
pd.set_option("display.max_rows",data_medal.shape[0])
data_medal.drop(["Rank"],axis=1,inplace=True)
data_medal

                      Team/NOC  Gold  Silver  Bronze   SUM
0     United States of America    39      41      33   113
1   People's Republic of China    38      32      18    88
2                        Japan    27      14      17    58
3                Great Britain    22      21      22    65
4                          ROC    20      28      23    71
5                    Australia    17       7      22    46
6                  Netherlands    10      12      14    36
7                       France    10      12      11    33
8                      Germany    10      11      16    37
9                        Italy    10      10      20    40
10                      Canada     7       6      11    24
11                      Brazil     7       6       8    21
12                 New Zealand     7       6       7    20
13                        Cuba     7       3       5    15
14                     Hungary     6       7       7    20
15           Republic of Korea     6       4      10    20
16                      Poland     4       5       5    14
17              Czech Republic     4       4       3    11
18                       Kenya     4       4       2    10
19                      Norway     4       2       2     8
20                     Jamaica     4       1       4     9
21                       Spain     3       8       6    17
22                      Sweden     3       6       0     9
23                 Switzerland     3       4       6    13
24                     Denmark     3       4       4    11
25                     Croatia     3       3       2     8
26    Islamic Republic of Iran     3       2       2     7
27                      Serbia     3       1       5     9
28                     Belgium     3       1       3     7
29                    Bulgaria     3       1       2     6
30                    Slovenia     3       1       1     5
31                  Uzbekistan     3       0       2     5
32                     Georgia     2       5       1     8
33              Chinese Taipei     2       4       6    12
34                      Turkey     2       2       9    13
35                      Greece     2       1       1     4
36                      Uganda     2       1       1     4
37                     Ecuador     2       1       0     3
38                     Ireland     2       0       2     4
39                      Israel     2       0       2     4
40                       Qatar     2       0       1     3
41                     Bahamas     2       0       0     2
42                      Kosovo     2       0       0     2
43                     Ukraine     1       6      12    19
44                     Belarus     1       3       3     7
45                     Romania     1       3       0     4
46                   Venezuela     1       3       0     4
47                       India     1       2       4     7
48            Hong Kong, China     1       2       3     6
49                 Philippines     1       2       1     4
50                    Slovakia     1       2       1     4
51                South Africa     1       2       0     3
52                     Austria     1       1       5     7
53                       Egypt     1       1       4     6
54                   Indonesia     1       1       3     5
55                    Ethiopia     1       1       2     4
56                    Portugal     1       1       2     4
57                     Tunisia     1       1       0     2
58                     Estonia     1       0       1     2
59                        Fiji     1       0       1     2
60                      Latvia     1       0       1     2
61                    Thailand     1       0       1     2
62                     Bermuda     1       0       0     1
63                     Morocco     1       0       0     1
64                 Puerto Rico     1       0       0     1
65                    Colombia     0       4       1     5
66                  Azerbaijan     0       3       4     7
67          Dominican Republic     0       3       2     5
68                     Armenia     0       2       2     4
69                  Kyrgyzstan     0       2       1     3
70                    Mongolia     0       1       3     4
71                   Argentina     0       1       2     3
72                  San Marino     0       1       2     3
73                      Jordan     0       1       1     2
74                    Malaysia     0       1       1     2
75                     Nigeria     0       1       1     2
76                     Bahrain     0       1       0     1
77                Saudi Arabia     0       1       0     1
78                   Lithuania     0       1       0     1
79             North Macedonia     0       1       0     1
80                     Namibia     0       1       0     1
81                Turkmenistan     0       1       0     1
82                  Kazakhstan     0       0       8     8
83                      Mexico     0       0       4     4
84                     Finland     0       0       2     2
85                    Botswana     0       0       1     1
86                Burkina Faso     0       0       1     1
87               C_te d'Ivoire     0       0       1     1
88                       Ghana     0       0       1     1
89                     Grenada     0       0       1     1
90                      Kuwait     0       0       1     1
91         Republic of Moldova     0       0       1     1
92        Syrian Arab Republic     0       0       1     1
93                     AllTeam   340     338     402  1080