In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.read_csv("athletes.csv")
df

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

In [6]:
LS = []
SuperLS = []
SUM = 0

for i_1 in range(len(df["NOC"])):
    Noc0 = df["NOC"].loc[i_1]
    LS.append(Noc0)
Noc1 = list(set(LS))

In [7]:
for i_1_1 in range(len(Noc1)):
    for i_2 in range(len(df["NOC"])):
        Noc2 = df["NOC"].loc[i_2]
        if Noc1[i_1_1] == Noc2 :
            SUM += 1
    SuperLS.append(SUM)
    SUM = 0

In [8]:
List = [Noc1,SuperLS]

In [9]:
from tkinter import*
from tkinter import ttk
Window = Tk()
Window.title("Athletes")
Window.geometry("1200x720")
LB = Label(Window,text="มีนักกีฬาแต่ละประเทศกี่คน",font=("Arial Bold",50))
LB.grid(column=0,row=0)

Tex = ttk.Combobox(Window,values = List[0],width=20)
Tex.grid(column=0,row=2)

def BUTTON1():
    TEXT = Tex.get()
    for i_4 in range(len(Noc1)):
        if str(TEXT) == str(List[0][i_4]):
            LB.configure(text="มีนักกีฬาของประเทศ"+TEXT+"เท่ากับ"+str(List[1][i_4])+"คน")
    
BT = Button(Window,text="Click",font=("Arial Bold",20),command=BUTTON1)
BT.grid(column=0,row=1)
Window.mainloop()

In [10]:
Country1 = Noc1
List_Discipline = []
Super_Discipline = []
for time1 in range(len(Country1)):
    for time2 in range(len(df["Discipline"])):
        Country2 = df["NOC"].loc[time2]
        if Country1[time1] == Country2 :
            DIS = df["Discipline"].loc[time2]
            List_Discipline.append(DIS)
    Super_Discipline.append(List_Discipline)
    List_Discipline = []

In [12]:
Discipline = []
for TheTime in range(len(Super_Discipline)):
    X = Super_Discipline[TheTime]
    Discipline0 = list(set(X))
    Discipline.append(Discipline0)
Discipline1 = Discipline

In [13]:
SUM = 0
Value = []
Super_Value = []
for time11 in range(len(Discipline)):
    for time12 in range(len(Discipline[time11])):
        for time13 in range(len(Super_Discipline[time11])):
            Discipline2 = Super_Discipline[time11][time13]
            if Discipline1[time11][time12] == Discipline2:
                SUM += 1
        Value.append(SUM)
        SUM = 0
    Super_Value.append(Value)
    Value = []

In [14]:
TheDiscipline = [Country1,Discipline,Super_Value]

In [15]:
from tkinter import*
from tkinter import ttk
Window1 = Tk()
Window1.title("Discipline")
Window1.geometry("1200x720")
LB1 = Label(Window1,text="นักกีฬาแต่ละประเทศลงแข่งกีฬาชนิดใดบ้าง",font=("Arial Bold",20))
LB1.grid(column=0,row=0)

Tex1 = ttk.Combobox(Window1,values = TheDiscipline[0],width=20)
Tex1.grid(column=0,row=1)

def BUT1():
    def BUT2():
            TEXT2 = Tex2.get()
            for time4 in range(len(Discipline[time3])):
                if str(TEXT2) == str(TheDiscipline[1][time3][time4]):
                    LB2 = Label(Window1,text="นักกีฬาของประเทศ"+str(Tex1.get())+"มีผู้เข้าแข่งขันกีฬาประเภท"+str(TEXT2)+"จำนวน"+str(TheDiscipline[2][time3][time4])+"คน",font=("Arial Bold",10),)
                    LB2.grid(column=0,row=3)
    TEXT1 = Tex1.get()
    for time3 in range(len(Country1)):
        if str(TEXT1) == str(TheDiscipline[0][time3]):
            Tex2 = ttk.Combobox(Window1,values = TheDiscipline[1][time3],width=20)
            Tex2.grid(column=0,row=2)
            BT2 = Button(Window1,text="Click",font=("Arial Bold",10),command=BUT2)
            BT2.grid(column=1,row=2)
            break
    
BT1 = Button(Window1,text="Click",font=("Arial Bold",10),command=BUT1)
BT1.grid(column=1,row=1)
Window1.mainloop()